<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>computed</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <body>
        <div id="app">
            <h2>
                算出プロパティとメソッドの比較
            </h2>
            <p>
                {{ reverseMessage }}
            </p>
            <p>
                {{ reverseMessageMethod() }}
            </p>
            <h2>
                getterとsetter
            </h2>
            <p>
                base price: <input type="text" v-model="baseprice">
            </p>
            <p>
                tax included price: <input type="text" v-model="taxIncludedPrice">
            </p>
            <h2>
                Computed
            </h2>
            <ol>
                <li>{{ computedNumber }}</li>
                <li>{{ computedNumber }}</li>
                <li>{{ computedNumber }}</li>
            </ol>
            <h2>
                Methods
            </h2>
            <ol>
                <li>{{ methodsNumber() }}</li>
                <li>{{ methodsNumber() }}</li>
                <li>{{ methodsNumber() }}</li>
            </ol>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue.js',
                    baseprice: 100,
                },
                computed: {
                    reverseMessage() {
                        return this.message.split('').reverse().join('')
                    },
                    taxIncludedPrice: {
                        get: function () {
                            return parseInt(this.baseprice * 1.08)
                        },
                        set: function (taxIncludedPrice) {
                            this.baseprice = Math.ceil(taxIncludedPrice / 1.08)
                        }
                    },
                    computedNumber() {
                        console.log('computed!')
                        return Math.random()
                    }
                },
                methods: {
                    reverseMessageMethod() {
                        return this.message.split('').reverse().join('')
                    },
                    methodsNumber() {
                        console.log('methods!')
                        return Math.random()
                    }
                }
            })
        </script>
    </body>

</html>